*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px black solid;
}

header > nav > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header > nav > ul > li{
    padding: 5px;
}

.box{
    display: flex;
    
   

}
.section1{
display: block;
    width: 30%;
    height: 100vh;
    background-color: firebrick;
}
.section2{
    display: block;
    width: 40%;
    background-color: fuchsia;
}
.aside{
    width: 30%;
    background-color: green
}